// Font Family Variable

$primary_font:'Roboto',
sans-serif;
$secondary_font:'Jost',
sans-serif;


//Color Variable

$clr_white: #fff;
$clr_black: #000;
$clr_aztech: #0E1C1F;
$clr_coral_red: #ff2d2d;
$clr_coral: #FF805E;
$clr_emperor: #555555;
$clr_mine_shaft: #242424;
$clr_catskill_white: #F9FAFC;
$clr_vulcan: #101321;
$clr_selago: #F1F4FD;
$clr_squeez: #E6EDF6;
$clr_albastor: #F7F7F7;
$clr_athens: #EEEFF2;
$clr_grey: #ABA8B0;
$clr_ash: #eee;
$clr_dove_grey: #656565;

@mixin transition($time) {
    -webkit-transition: $time;
    transition: $time;
}

@mixin transition($time) {
    -webkit-transition: $time;
    transition: $time;
}

@mixin transform($tr_amt) {
    -webkit-transform: $tr_amt;
    -moz-transform: $tr_amt;
    transform: $tr_amt;
}

@mixin transform-origin($trl_amt) {
    transform-origin: $trl_amt;
    -webkit-transform-origin: $trl_amt;
    -moz-transform-origin: $trl_amt;
    -ms-transform-origin: $trl_amt;
    -o-transform-origin: $trl_amt;
}

@mixin transform-style($trm_amt) {
    transform-style: $trm_amt;
    -webkit-transform-style: $trm_amt;
    -moz-transform-style: $trm_amt;
    -ms-transform-style: $trm_amt;
    -o-transform-style: $trm_amt;
}

@mixin filter ($scale) {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: grayscale($scale);
    filter: grayscale($scale);
}

%bg-grad-orange {
    background: -webkit-linear-gradient(left, rgba(255, 65, 75, 1) 0%, rgba(255, 102, 86, 1) 35%, rgba(255, 135, 96, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 65, 75, 1) 0%, rgba(255, 102, 86, 1) 35%, rgba(255, 135, 96, 1) 100%);
}

%bg-grad-red {
    background: -webkit-linear-gradient(right, rgba(255, 65, 75, 1) 0%, rgba(255, 102, 86, 1) 35%, rgba(255, 135, 96, 1) 100%);
    background: linear-gradient(-90deg, rgba(255, 65, 75, 1) 0%, rgba(255, 102, 86, 1) 35%, rgba(255, 135, 96, 1) 100%);
}

%flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}


%inline_flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

%flex_column_center {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

%flex_column_between {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%flex_column_end {
    @extend %flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

%align_center {
    @extend %flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

%align_start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}

%align_end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}

%flex_justify_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


%flex_justify_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

%flex_justify_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

%flex_justify_start {
    @extend %flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

%flex_start {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;

}

%flex_between {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;

}

%flex_end {
    @extend %flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

/*---------------------------------
        Footer CSS 
-----------------------------------*/
.footer-bg-1 {
    background-image: url(../img/footer/footer-bg-1.jpg);
}

.footer-bg-2 {
    background-image: url(../img/footer/footer-bg-2.jpg);
}

.footer-wrap {
    .footer-top {
        .footer-logo {
            display: block;
            margin: 0 0 25px;
        }
        .social-box{
            @extend %align_center;
            span{
                color: $clr_white;
                display: block;
                margin:0 10px 0 0;
            }
        }
        .footer-menu {
            li {
                position: relative;
                padding-left: 17px;
                margin: 0 0 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                i {
                    position: absolute;
                    top: 1px;
                    left: 0;
                    color: $clr_white;
                    font-size: 9px;
                    @include transition(0.3s);
                }
                a {
                    color: $clr_white;
                    font-size: 15px;
                    display: block;

                }
                @include transition(0.3s);
                &:hover {
                    color: $clr_coral;
                    padding-left: 22px;
                    i {
                        color: $clr_coral;
                        left: 5px;
                    }
                    a {
                        color: $clr_coral;
                    }
                }
            }
        }
        .contact-item {
            padding-left: 25px;
            margin-bottom: 22px;

            &:last-child {
                margin-bottom: 0;
            }

            p,
            a,
            h6 {
                color: $clr_white;
            }

            h6 {
                font-size: 17px;
                font-weight: 400;
                line-height: 1.2;
                margin: 0 0 4px;
            }

            p,
            a {
                font-size: 15px;
                margin: 0;
            }

            i {
                color: $clr_coral_red;
            }
        }
    }
    .footer-bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        .copyright {
            padding: 24px 15px;
            text-align: center;
            p {
                margin-bottom: 0;
                color: $clr_white;
                font-family: $secondary_font;
                a {
                    color: $clr_coral_red;
                }
            }
        }
    }
    &.style2 {
        position: relative;
        .container {
            position: relative;
        }
        .footer-bottom {
            position: relative;
        }
    }
}
.footer-widget-wrap {
    @extend %flex;
    .footer-widget {
        &:nth-child(1) {
            width: 32%;
            padding-right: 150px;
        }
        &:nth-child(2) {
            width: 23%;
        }
        &:nth-child(3) {
            width: 23%;
        }
        &:nth-child(4) {
            width: 22%;
        }
    }
}
.footer-widget {
    margin: 0 0 30px;
}
.footer-widget-title {
    color: $clr_white;
    line-height: 1.2;
    margin-bottom: 30px;
    padding-bottom: 12px;
    position: relative;
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 55px;
        height: 2px;
        content: "";
        background: -webkit-linear-gradient(left, rgba(255, 65, 75, 1) 0%, rgba(255, 135, 96, 1) 35%, rgba(255, 135, 96, 1) 100%);
        background: linear-gradient(90deg, rgba(255, 65, 75, 1) 0%, rgba(255, 135, 96, 1) 35%, rgba(255, 135, 96, 1) 100%);
    }
}
.newsletter-box {
    margin: 25px 0;
    p {
        color: $clr_white;
    }
    .newsletter-form {
        .form-group {
            width: 100%;
            position: relative;
            input {
                width: 100%;
                height: 60px;
                border-radius: 5px;
                background: transparent;
                color: $clr_white;
                padding: 10px 15px;
                border: 1px solid #878D8F;
            }
            button {
                position: absolute;
                top: 5px;
                right: 5px;
                height: calc(100% - 10px);
                border: none;
                padding: 5px 15px;
                border-radius: 5px;
                @extend %flex;
                @extend %flex_column_center;
                background: -webkit-linear-gradient(left, rgba(255, 86, 81, 1) 0%, rgba(255, 111, 89, 1) 35%, rgba(255, 112, 89, 1) 100%);
                background: linear-gradient(90deg, rgba(255, 86, 81, 1) 0%, rgba(255, 111, 89, 1) 35%, rgba(255, 112, 89, 1) 100%);
                i {
                    color: $clr_white;
                    font-size: 24px;
                    line-height: 0.8;
                }
            }
        }
    }
}
.contact-item {
    position: relative;
    padding-left: 20px;
    i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
    }
}