.header-wrap .searchbtn, .header-wrap .header-top .header-top-left, .header-wrap .header-top .header-top-right, .header-wrap .header-bottom .header-bottom-right, .header-wrap .navbar-language .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-wrap .searchbtn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-wrap .header-top .header-top-left, .header-wrap .header-top .header-top-right, .header-wrap .header-bottom .header-bottom-right, .header-wrap .searchbtn, .header-wrap .navbar-language .dropdown-toggle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.header-wrap .header-top .header-top-right, .header-wrap .header-bottom .header-bottom-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/*---------------------------------
        Header CSS 
-----------------------------------*/
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-wrap .header-trending-news {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-wrap.sticky {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.header-wrap.sticky.style1 {
  margin-top: -53px;
  background: #fff;
}

.header-wrap.sticky.style1 .header-bottom .container .header-bottom-wrap {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.header-wrap.sticky.style2 {
  margin-top: -53px;
  background: #fff;
}

.header-wrap.sticky.style2 .header-bottom .container .header-bottom-wrap {
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.header-wrap.sticky.style3 {
  margin-top: -53px;
  background-color: #fff;
}

.header-wrap .header-top .header-top-left .contact-item {
  margin-right: 20px;
  padding-left: 22px;
}

.header-wrap .header-top .header-top-left .contact-item p,
.header-wrap .header-top .header-top-left .contact-item a {
  font-size: 15px;
  font-family: "Jost", sans-serif;
}

.header-wrap .header-top .header-top-left .contact-item i {
  color: #ff2d2d;
  font-size: 15px;
  top: 5px;
  line-height: 0.8;
}

.header-wrap .header-top .header-top-left .contact-item:last-child {
  margin-right: 0;
}

.header-wrap .header-top .header-top-right .social-profile {
  margin-left: 25px;
}

.header-wrap .header-top .header-top-right .social-profile li a {
  position: relative;
  top: 2px;
}

.header-wrap .header-top .header-top-right .social-profile li a i {
  font-size: 15px;
}

.header-wrap .header-bottom {
  position: relative;
}

.header-wrap .header-bottom .header-bottom-right .btn {
  border-radius: 0;
  padding: 12px 40px;
}

.header-wrap .mobile-menu a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.header-wrap .logo img {
  max-width: 130px;
}

.header-wrap .searchbtn {
  width: 50px;
  height: 50px;
  background: transparent;
  text-align: center;
  margin-right: 20px;
  border: none;
}

.header-wrap .searchbtn i {
  color: #000;
  font-size: 20px;
  line-height: 0.8;
}

.header-wrap .search-area {
  position: absolute;
  top: 96px;
  left: 50%;
  width: 100%;
  height: auto;
  padding: 20px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  -webkit-transform: translate(-50%, -96px);
  transform: translate(-50%, -96px);
  border-top: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-wrap .search-area.open {
  visibility: visible;
  opacity: 1;
  border-color: #eee;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.header-wrap .search-area .form-group {
  position: relative;
}

.header-wrap .search-area .form-group input {
  width: 100%;
  height: 52px;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 16px;
  padding: 20px;
  color: #000;
}

.header-wrap .search-area .form-group button {
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 20px;
  padding: 0 5px;
  background: transparent;
  border: none;
}

.header-wrap .navbar-language .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 15px;
  padding-right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-wrap .navbar-language .dropdown-toggle:after {
  display: none;
}

.header-wrap .navbar-language .dropdown-toggle:before {
  position: absolute;
  top: 1px;
  right: 2px;
  content: "\f10e";
  font-family: "Flaticon";
  font-weight: 500;
  border: 0;
  margin-left: 8px;
  font-size: 8px;
}

.header-wrap .navbar-language .dropdown-toggle i {
  margin-right: 4px;
  color: #000;
  font-size: 17px;
  position: relative;
  top: 0px;
}

.header-wrap .navbar-language .dropdown-menu {
  margin: 0;
  padding: 5px 0;
  -webkit-box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
  box-shadow: 0 9px 54px 0 rgba(32, 32, 32, 0.1);
  left: auto;
  right: 0;
  border: 0;
  border-radius: 0;
  -webkit-transform: translateY(75px) !important;
  transform: translateY(75px) !important;
  display: block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.header-wrap .navbar-language .dropdown-menu a {
  padding: 5px 10px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  font-size: 15px;
}

.header-wrap .navbar-language .dropdown-menu a.active {
  background-color: #f8f9fa;
}

.header-wrap .navbar-language .dropdown-menu a img {
  width: 20px;
  margin-right: 10px;
}

.header-wrap .navbar-language .dropdown-menu.show {
  -webkit-transform: translateY(40px) !important;
  transform: translateY(40px) !important;
  opacity: 1;
  pointer-events: all;
}

.header-wrap.style1 .header-top .header-top-left .contact-item p,
.header-wrap.style1 .header-top .header-top-left .contact-item a {
  color: #555555;
}

.header-wrap.style1 .header-top .header-top-right .navbar-language .dropdown-toggle i {
  color: #ff2d2d;
}

.header-wrap.style1 .header-top .header-top-right .social-profile li a i {
  color: #555555;
}

.header-wrap.style1 .header-top .header-top-right .social-profile li a:hover i {
  color: #ff2d2d;
}

.header-wrap.style1 .header-bottom .container .header-bottom-wrap {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-wrap.style1 .header-bottom .header-bottom-right .btn {
  border-radius: 5px;
}

.header-wrap.style1 .header-top .container, .header-wrap.style2 .header-top .container, .header-wrap.style3 .header-top .container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-wrap.style1 .header-top .header-top-left .contact-item a,
.header-wrap.style1 .header-top .header-top-left .contact-item p, .header-wrap.style2 .header-top .header-top-left .contact-item a,
.header-wrap.style2 .header-top .header-top-left .contact-item p, .header-wrap.style3 .header-top .header-top-left .contact-item a,
.header-wrap.style3 .header-top .header-top-left .contact-item p {
  margin: 0;
}

.header-wrap.style2 .header-top .header-top-left .contact-item p,
.header-wrap.style2 .header-top .header-top-left .contact-item a {
  color: #fff;
}

.header-wrap.style2 .header-top .header-top-right .navbar-language .dropdown-toggle {
  color: #fff;
}

.header-wrap.style2 .header-top .header-top-right .navbar-language .dropdown-toggle i {
  color: #ff2d2d;
}

.header-wrap.style2 .header-top .header-top-right .social-profile li a i {
  color: #fff;
}

.header-wrap.style2 .header-bottom .container .header-bottom-wrap {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-wrap.style3 .header-top .header-top-left .contact-item p,
.header-wrap.style3 .header-top .header-top-left .contact-item a {
  color: #fff;
}

.header-wrap.style3 .header-top .header-top-right .navbar-language .dropdown-toggle {
  color: #fff;
}

.header-wrap.style3 .header-top .header-top-right .navbar-language .dropdown-toggle i {
  color: #ff2d2d;
}

.header-wrap.style3 .header-top .header-top-right .social-profile li a i {
  color: #fff;
}

.header-wrap.style3 .header-bottom {
  background: #fff;
}

.header-wrap.style3 .header-bottom .header-bottom-wrap {
  padding: 20px 0;
}

/*------------   Main Mneu CSS  ---------------*/
@media only screen and (min-width: 1200px) {
  .main-menu-wrap #menu ul li {
    display: inline-block;
    position: relative;
  }
  .main-menu-wrap #menu ul li a {
    padding: 15px 15px 15px 15px;
    color: #000;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-menu-wrap #menu ul li a:before {
    position: absolute;
    top: 25px;
    left: 6px;
    content: "";
    background: #ff2d2d;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-menu-wrap #menu ul li a.active, .main-menu-wrap #menu ul li a:hover {
    color: #ff2d2d;
  }
  .main-menu-wrap #menu ul li a.active:before, .main-menu-wrap #menu ul li a:hover:before {
    visibility: visible;
    opacity: 1;
  }
  .main-menu-wrap #menu ul li.has-children .sub-menu {
    position: absolute;
    top: 80px;
    left: 0;
    min-width: 200px;
    border-radius: 2px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    padding: 12px 0;
    -webkit-box-shadow: 0 2px 22px 0px rgba(0, 0, 0, 0.17);
            box-shadow: 0 2px 22px 0px rgba(0, 0, 0, 0.17);
    z-index: 10;
    display: block !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .main-menu-wrap #menu ul li.has-children .sub-menu li {
    margin: 0;
    display: block;
    text-align: left;
  }
  .main-menu-wrap #menu ul li.has-children .sub-menu li a {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
    display: block;
    padding: 10px 22px;
    margin: 0;
    color: #000;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
  .main-menu-wrap #menu ul li.has-children .sub-menu li a:before {
    top: 18px;
    left: 10px;
  }
  .main-menu-wrap #menu ul li.has-children .sub-menu li a.active, .main-menu-wrap #menu ul li.has-children .sub-menu li a:hover {
    color: #ff2d2d;
  }
  .main-menu-wrap #menu ul li.has-children .sub-menu li a.active:after, .main-menu-wrap #menu ul li.has-children .sub-menu li a:hover:after {
    border-color: #ff2d2d;
  }
  .main-menu-wrap #menu ul li.has-children .sub-menu li:last-child > a {
    border-bottom: none;
  }
  .main-menu-wrap #menu ul li.has-children:hover > .sub-menu {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
  .main-menu-wrap #menu > ul > li {
    margin: 0;
  }
  .main-menu-wrap #menu > ul > li > a {
    display: inline-block;
    position: relative;
    font-weight: 500;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-menu-wrap #menu > ul > li.has-children > a {
    position: relative;
  }
  .main-menu-wrap #menu > ul > li.has-children > a:after {
    position: absolute;
    top: 16px;
    right: 3px;
    content: "\f10e";
    font-family: "Flaticon";
    font-size: 8px;
    font-weight: 600;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .main-menu-wrap #menu > ul > li.has-children > .sub-menu > .has-children > a {
    position: relative;
  }
  .main-menu-wrap #menu > ul > li.has-children > .sub-menu > .has-children > a:after {
    position: absolute;
    top: 18px;
    right: 20px;
    content: "";
    width: 6px;
    height: 6px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .main-menu-wrap #menu > ul > li.has-children > .sub-menu > .has-children > a:hover:after {
    border-color: #ff2d2d;
  }
  .main-menu-wrap #menu > ul > .has-children {
    position: relative;
  }
  .main-menu-wrap #menu ul > .has-children > .sub-menu > .has-children > .sub-menu {
    left: 100%;
    top: -12px !important;
  }
  .menu-expand i {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .header-wrap.style1 .header-top .header-top-left .present-date {
    margin: 0 0 15px;
  }
  .header-wrap.style1 .header-bottom .container .header-bottom-wrap {
    margin-top: 15px;
  }
  .header-wrap.sticky.style1 .header-bottom .container .header-bottom-wrap {
    margin-top: 0;
  }
  .header-wrap.style2 .header-bottom .container .header-bottom-wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .header-wrap.style2 .header-bottom .container .header-bottom-wrap,
  .header-wrap.sticky.style2 .header-bottom .container .header-bottom-wrap {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header-wrap .header-top .header-top-left,
  .header-wrap .header-top .header-top-right {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    -ms-grid-row-align: start !important;
    align-items: flex-start !important;
  }
  .header-wrap .header-top-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start !important;
  }
  .navbar-language .dropdown-toggle {
    padding-left: 0;
  }
  .header-wrap.style2 .header-bottom {
    background: #fff;
  }
  .header-wrap.style2 .header-top .select_lang,
  .header-wrap.style3 .header-top .select_lang {
    max-width: 120px;
    margin-top: 15px;
  }
  .header-wrap.style2 .header-top .header-top-left .contact-item a,
  .header-wrap.style2 .header-top .header-top-left .contact-item p,
  .header-wrap.style2 .header-top .header-top-right .navbar-language .dropdown-toggle {
    color: #000;
  }
  .header-wrap.style2 .header-top .contact-item {
    margin-bottom: 15px;
  }
  .header-wrap .header-top .header-top-right .social-profile {
    margin-left: 0;
    margin-top: 15px;
  }
  .header-wrap .header-top .header-top-right .social-profile li a i {
    color: #ff2d2d;
  }
  .header-wrap .searchbtn {
    width: 33px;
    height: 33px;
    background: transparent;
    margin-right: 13px;
    position: relative;
    top: -5px;
  }
  .header-wrap .searchbtn i {
    font-size: 20px;
  }
  .header-wrap.sticky.style2,
  .header-wrap.sticky.style3,
  .header-wrap.sticky.style1 {
    margin-top: 0;
  }
  .header-wrap .header-top-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start !important;
  }
  .navbar-language .dropdown-toggle {
    padding-left: 0;
  }
  .header-wrap .navbar-language .dropdown-toggle i {
    padding-left: 0;
    top: -1px;
  }
  .header-wrap .header-top .header-top-left .contact-item {
    margin-bottom: 15px;
  }
  .menu-bar {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .mobile-bar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    top: 4px;
  }
  .menu-close {
    position: absolute;
    top: 13px;
    right: 16px;
  }
  .menu-close i {
    color: #000;
    font-size: 22px;
  }
  .mobile-menu {
    text-align: right;
  }
  .mobile-menu a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(#ff2d2d), color-stop(35%, #ff6656), to(#ff8760));
    background: linear-gradient(90deg, #ff2d2d 0%, #ff6656 35%, #ff8760 100%);
  }
  .mobile-menu a i {
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    position: relative;
    top: 0px;
  }
  .main-menu-wrap.style2 ul li a i {
    margin-right: 5px;
  }
  .mobile-top-bar,
  .mobile-menu {
    display: inline-block;
    position: relative;
    top: -5px;
  }
  .header-wrap .header-top {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: #EEEFF2;
    right: -100%;
    padding: 50px 0 !important;
    display: block;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-wrap .header-top .header-top-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
  .header-wrap .header-top.open {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
  .header-wrap.style1 .header-bottom {
    padding: 0;
  }
  .mobile-top-bar {
    margin-right: 16px;
    cursor: pointer;
    position: relative;
    top: -2px;
  }
  .mobile-top-bar span {
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 20px;
    background-color: #000;
    margin: 5.9px 0;
  }
  .mobile-top-bar span:nth-child(1) {
    margin-top: 0;
  }
  .mobile-top-bar span:nth-child(2) {
    width: 12px;
    margin-left: 8px;
  }
  .close-header-top button {
    position: absolute;
    top: 14px;
    right: 10px;
    z-index: 999;
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
  }
  .close-header-top button i {
    color: #000;
    font-size: 20px;
  }
  .main-menu-wrap {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    height: 100vh;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: -100%;
    padding: 55px 20px 30px;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .main-menu-wrap.open {
    left: 0;
  }
  .main-menu > li.has-children.menu-open > span.menu-expand {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-menu > li.has-children.menu-open > span.menu-expand i {
    color: #000;
  }
  .main-menu > li > ul > li.has-children.menu-open > span.menu-expand {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .main-menu li {
    position: relative;
  }
  .main-menu li:last-child {
    margin: 0;
  }
  .main-menu li > span.menu-expand {
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
  }
  .main-menu li > span.menu-expand i {
    color: #000;
    font-size: 14px;
  }
  .main-menu li > span.menu-expand:hover {
    color: #000;
  }
  .main-menu li a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .main-menu li a:hover {
    color: #000;
  }
  .main-menu li ul.sub-menu {
    padding-left: 20px;
  }
  .header-wrap.style1 .header-bottom .main-menu-wrap #menu > ul > li > a.active,
  .header-wrap.style1 .header-bottom .main-menu-wrap #menu > ul > li > a:hover,
  .header-wrap.style1 .header-bottom .main-menu-wrap #menu > ul > li > a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 0;
  }
  .header-wrap.style2 .header-top .header-top-right .social-profile li a i,
  .header-wrap.style3 .header-top .header-top-right .social-profile li a i {
    color: #ff2d2d;
  }
  .header-wrap.style3 .header-top .header-top-left .contact-item p,
  .header-wrap.style3 .header-top .header-top-left .contact-item a,
  .header-wrap.style3 .header-top .header-top-right .navbar-language .dropdown-toggle {
    color: #000;
  }
  .header-wrap.style1 .header-bottom .main-menu-wrap #menu > ul > li > a::after {
    display: none;
  }
  .main-menu li a.active {
    font-weight: 600;
    color: #ff2d2d;
    border-color: rgba(0, 0, 0, 0.3);
  }
  .header-wrap .search-area {
    top: 84px;
  }
  .header-wrap .header-top-right .btn {
    padding: 12px 40px;
    border-radius: 0;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=header.css.map */